Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/KiteDemo
/Content/A_Surface_Footstep
/Content/DynamicGrassLite
/Content/EF_Grounds
/Content/FPS_Weapon_Bundle
/Content/LightProfilePack
/Content/M5VFXVOL2
/Content/MS_PlasticCon
/Content/MS_UrbAlTutV1
/Content/Particles_Wind_Control_System
/Content/PN_IvyPack
/Content/sA_Megapack_v1
/Content/UltimateFarming
/Content/VigilanteContent
/Content/Windmills
